<mat-toolbar>
    <span class="mr-2">Quản lí thiết bị&nbsp;</span>
    <mat-form-field [formGroup]="asset" class="mat-block">
        <mat-select class="tb-entity-subtype-select" (selectionChange)="onChangeAsset($event)" formControlName ="assetType">
          <mat-option value="plc">plc</mat-option>
          <mat-option value="machine">machine</mat-option>
        </mat-select>
    </mat-form-field>
    
    <span fxFlex></span>
    <button mat-icon-button (click)="openDialog(-1)">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>search</mat-icon>
    </button>
</mat-toolbar>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th class="mat-body-2" mat-header-cell *matHeaderCellDef>Tên thiết bị</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Label</th>
        <td mat-cell *matCellDef="let element"> {{element.label}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="createdTime">
        <th mat-header-cell *matHeaderCellDef> Create Time</th>
        <td mat-cell *matCellDef="let element"> {{element.createdTime | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" aria-label="edit" (click)="openDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>        
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" aria-label="view detail" (click)="openDeleteDialog(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   [pageIndex]="pageLink.page"
                   [pageSize]="pageLink.pageSize"
                   [length]="totalElements"
                   (page)="handlePage($event)"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
    <div>
  </div>
  </div>