<div>
    <mat-toolbar color="accent">
      <h2 translate>{{data.name}}</h2>
      <span fxFlex></span>
      <button mat-icon-button
                (click)="cancel()"
                  type="button">
        <mat-icon class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>
    <!-- <mat-progress-bar color="warn" mode="indeterminate">
    </mat-progress-bar> -->
    <!-- <div style="height: 4px;"></div> -->
    <div mat-dialog-content>
      <form class="example-form" [formGroup]="assetForm">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Tên thiết bị" formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Label" formControlName="label">
        </mat-form-field>
      </form>
    </div>
  
    <div mat-dialog-actions fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end">
      <button mat-button
              (click)="cancel()">{{ 'action.cancel' | translate }}</button>
      <button *ngIf="data.type == 'add'" mat-raised-button
              color="accent"
              (click)="add()">{{ 'action.add' | translate }}</button>
      <button *ngIf="data.type == 'edit'" mat-raised-button
              color="accent"
              (click)="update()">{{ 'action.update' | translate }}</button>
    </div>
  </div>
  